<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.midasgo.bookdocapi.mapper.NoteMapper">

	<select id="selectAll" resultType="com.midasgo.bookdocapi.model.Note">
        select * from bookdoc_note order by id desc;
    </select>
       
    <select id="selectItem" resultType="com.midasgo.bookdocapi.model.Note" parameterType = "Int">
        select * from bookdoc_note where id = #{id};
    </select>

    <insert id="insertItem" parameterType="com.midasgo.bookdocapi.model.Note">
    		insert into bookdoc_note values (0, #{book_name}, #{title}, #{content}, #{image}, now());
    </insert>
    
    <update id="updateItem" parameterType="com.midasgo.bookdocapi.model.Note">
    		update bookdoc_note 
    		set book_name = #{book_name}, 
    		title = #{title}, 
    		content = #{content}, 
    		image = #{image}, 
    		reg_date = now() 
    		where id = #{id};
    </update>
     
     <delete id="deleteItem" parameterType="Int">
    		delete from bookdoc_note where id = #{id}
    </delete>
</mapper>