<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	
</script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<!-- bootstrap.. -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<title>midasgo:PrivacyPolicy</title>
</head>
<style>
body{
	background-color: #333333
}
h1{
	color: #cccccc
}
h4{
	color: #cccccc
}
p{
	color: #cccccc
}
</style>
<body>
	<div>
	      <div class="container">
	      <div style="margin-top: 100px; background: ">
	        <h1>Privacy Policy</h1>
	        <br>
	        <h4>1. Introduction</h4>
	        <p>midasgo is dedicated to protect users privacy rights.</p>
	        <br>
	        <h4>2. Data we collect</h4>
	        <p>Membership information is used for member classification and login. The place information is used to expose the stored information to the user</p>
	        <br>
	        <h4>3. How we use information</h4>
	        <p>All the data you enter is combined with your unique key</p>
	        <br>
	        <h4>4.Information sharing and disclosure</h4>
	        <p>do not sell any user's information to third parties.</p>
	        <br>
	        <h4>5.How to contact me</h4>
	        <p>If there are any questions regarding this privacy policy, you may contact me using the information below</p>
	        <br>
	        <p>midas602461@gmail.com</p>
		</div>
	</div>
</body>
</html>
